@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-primary: #ff671d;
$color-primary-light: #ff854a;
$color-primary-super-light: #ffe1d2;

$color-secondary: #202945;
$color-secondary-light: #5f6579;
$color-secondary-super-light: #dfe2f0;

$color-gray-dark: #c4c4c4;
$color-gray: #dadce0;
$color-gray-light: #f5f5f5;

$color-success: #37bf66;
$color-success-light: #73d294;
$color-error: #eb1649;

$color-white: #fff;

// FONT
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Open Sans';

// FONTS
$font-main: 'Inter', sans-serif;
$font-size-micro: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size: 16px;

$font-size-main: 14px;
$font-weight-main: 400;
$font-weight-bold: 600;
$font-weight-super-bold: 700;

$input-border: 1px solid $color-gray;
$input-border-primary: 1px solid $color-primary;
$input-border-hover: 1px solid $color-secondary;
$white-border: 1px solid $color-white;

// BOX-SHADOWS
$box-shadow-primary: 0px 4px 10px rgba(0, 0, 0, 0.1);

// BORDER RADIUS
$border-radius-primary: 10px;
$border-radius-secondary: 15px;

$box-shadow-icon: 0px 0px 10px rgba(0, 0, 0, 0.1);
$box-shadow-icon-swipper: 0px 2px 4px rgba(0, 0, 0, 0.15);

$background-backdrop: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);

$page-container-width: 1252px;
$page-container-padding: 20px;

@mixin fullCenterFlex() {
	display: flex;
	justify-content: center;
	align-items: center;
}
